
#con-main {
    text-align: center;
}

#logo {
    width: 80px;
}

.sec-frontend {
    padding-top: 3.5rem;
    padding-bottom: 0;
    font-size: 2.5rem;
    font-weight: bolder;
    color: darkviolet;
    font-family: 'Ubuntu', sans-serif;
}

.sec-hello {
    font-size: 1.5rem;
    color: rgb(56, 56, 56);
    font-family: 'Roboto', sans-serif;
    padding-top: 5px;
}

#virgel {
    color: darkviolet;
    font-weight: bolder;
}

#myimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:500px;
    padding-top: 4rem;
}

#fb-font {
    width: 100px;
}

.nav-link {
    color: darkviolet;
    font-size: 1rem;
    
}

.nav-link:hover {
    color:white;
    background-image: linear-gradient(violet, darkviolet);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.under {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 4rem;
}


/*  portfolio */

#portfolio, #about {
    margin: 4rem;
    color: rgb(255, 255, 255);
    background-color: blueviolet;
}

/*  footer */
#footer {
    background-color: black;
    color: blueviolet;
    text-align: center;
    padding: 5rem;
}

.backToTop {
    color: white;
    text-decoration: none;
    padding: 5px;
}
.backToTop:hover {
    color: aqua;
    text-decoration: none;
    border-radius: 5px;
    border: 1px aqua solid;
    padding: 5px;
}